/*
* type selector: we use the name of an element to select
* all of the same type elements
*/
p{
    background-color: blueviolet(81,81,221);
    border: 64px;
    border-style: solid;
    width: fit-content;
    padding: 30px;
    padding-top: 50px ;
    margin: 20px;

}

h1{
    text-align: center;
    text-shadow: 5px;
    border: 6px;
    border-style: solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: blue;
}