*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.logo{
    max-width: 10vw;
    min-width: 3vw;
}   
/* > is direct child selector*/
nav>ul{
    border: 2px solid;
    list-style: none;
    /*"display" is a propery used to organize a group of element*/
    display: flex;
    /* choose the main axis direction along which the flex items are positioned*/
    flex-direction: row;
    justify-content: space-around;
}
nav>ul>a{
    margin: 4vw;
}