*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    border: 2px solid;
}

.logo{
    max-width: 10vw;
    min-width: 3vw;
}   
/* > is direct child selector*/
nav>ul{
    
    list-style: none;
    /*"display" is a propery used to organize a group of element*/
    display: flex;
    /* choose the main axis direction along which the flex items are positioned*/
    flex-direction: row;
    /* center/flex-start/flex-end/space-around/space-evenly/space between*/
    justify-content: space-around;
    /*This property is used to align the group of 
    flex items along the cross axis*/
    align-items: center;
    /*We use this attribute to control how the element 
    are shown when they surpass the width of the container.
    "nowrap" means the element con overflow the edge of 
    the container*/
    flex-wrap: wrap;
}
nav>ul>a{
    margin: 4vw;
    width: 10vw;
}